.logo{
  width: 130px;
  float:right;
}
.mat-raised-button{
  background-color:#158ab7 !important;
  color:white !important;
}
table{
  tbody{
    tr{
      td{
        i{
          opacity: 0;
          color:#158ab7 !important;
        }
      }
      td.sold{
        &{
          background-color: #4bcead !important;
          color: white;
        }
        i{
        opacity: 1;
        }
      }
    }
  }
}
