<mat-card>
  <img class="logo" src="assets/logo.svg" alt="">
   <h1>Comportamiento de Precios :</h1>
   <h3>Dias Menos : {{diasMenos}}</h3>
   <button type="button" mat-raised-button (click)="decreceDays()">Restar Dias</button>
 </mat-card>


<table class="table table-hover">
  <thead>
    <tr>
      <th>NAME</th>
      <th>SELL IN</th>
      <th>PRICE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let up of productsAtDayZero">
        <td [ngClass]="{'sold':up.sellIn==0}">{{up.name}}</td>
        <td [ngClass]="{'sold':up.sellIn==0}">{{up.sellIn}}</td>
        <td [ngClass]="{'sold':up.sellIn==0}">{{up.price}}</td>
        <td [ngClass]="{'sold':up.sellIn==0}"><i class="fas fa-check"></i></td>
    </tr>
  </tbody>
</table>
