/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body,html{
  font-family: 'Raleway', sans-serif;
}

button:focus {
   outline: none !important;
   border: 0;
}
